*.vscode
*.ico
*.txt
test.py
Health_Bar.py
Health_barV2.py
Untitled design (4).png
Main.py
#->ignores all the directories named
#PygameForBeginners/ and /PygameForBeginners/
#ignores only outer directory

